<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/attachedrolepermission">Role Management</a></li>
            <li class="breadcrumb-item active">Attach Permission</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Permission of Role {{tb_role.rolename}} Management</h5>
                    </center>
                    <div id="row">
                        <div class="col-lg-12">
                                
                            <table class="table table-hover">
                                <thead>
                                    <th width="10%">#</th>
                                    <th width="30%">Menu Name</th>
                                    <th width="20%">Link</th>
                                    <th width="20%">Details</th>
                                    <th width="10%">Parent</th>
                                    <th width="10%">Action</th>
                                </thead>
                                <tbody>
                                {% for tbmenu in menulist %}

                                    {% set ischeck = "" %}
                                    {% if menus.is_menuid_in_userrole(tb_role.roleid, tbmenu[0]) %}
                                        {% set ischeck = "checked" %}
                                    {% endif %}
                                    
                                    <tr class="table-info">
                                        <td>{{loop.index}}</td>
                                        <td>{{tbmenu[1]}}</td>
                                        <td>{{tbmenu[5]}}</td>
                                        <td>{{tbmenu[6]}}</td>
                                        <td>Yes</td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" {{ischeck}}
                                                    id="flexSwitchCheckDefault">
                                                <input type="hidden" name="roleid{{tbmenu[0]}}" id="roleid{{tbmenu[0]}}" value="{{tb_role.roleid}}" />
                                                <input type="hidden" name="menuid{{tbmenu[0]}}" id="menuid{{tbmenu[0]}}" value="{{tbmenu[0]}}" />
                                            </div>
                                        </td>
                                        </tr>

                                        


                                        {% if tb_menus.find_by_parent(tbmenu[0]) |length > 0 %}
                                        
                                                {% for men in tb_menus.find_by_parent(tbmenu[0]) %}

                                                {% set ischecksub = "" %}
                                                {% if menus.is_menuid_in_userrole(tb_role.roleid, men.menuid) %}
                                                    {% set ischecksub = "checked" %}
                                                {% endif %}


                                                <tr class="table-warning">
                                                    <td><i class="ri-arrow-right-line"></i></td>
                                                    <td>{{men.nameen}}</td>
                                                    <td>{{men.functions}}</td>
                                                    <td>{{men.details}}</td>
                                                    <td>{{tbmenu[1]}}</td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" {{ischecksub}} 
                                                                role="switch" id="flexSwitchCheckDefault">
                                                            <input type="hidden" name="roleid{{tbmenu[0]}}" id="roleid{{men.menuid}}" value="{{tb_role.roleid}}" />
                                                            <input type="hidden" name="menuid{{tbmenu[0]}}" id="menuid{{men.menuid}}" value="{{men.menuid}}" />
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                           

                                        {% endif %}
                                    
                                {% endfor %}
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="text-align: Center">
                                <button type="button" class="btn btn-primary" id="save">
                                    Save
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-success" id="back">
                                    Role List
                                </button>
                            </div>
                        </div>

                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // $('.collapse1').collapse();
        $("#back").click(function(){
            window.location = "/attachedrolepermission"
        })

        $("#save").click(function () {
            
            roleid = []
            $("input[name^='roleid']").each(function () {
                if($(this).parent().find("input[type='checkbox']").is(":checked")){
                    roleid.push($(this).val());
                }
            });
            menuid = []
            $("input[name^='menuid']").each(function () {

                if($(this).parent().find("input[type='checkbox']").is(":checked")){
                    menuid.push($(this).val());
                }
            });

            result = [];
            for (i = 0; i < roleid.length; i++) {
                item = {};
                item['roleid'] = roleid[i];
                item['menuid'] = menuid[i];
                result.push(item);

            }


            $.ajax({
                type: "POST",
                url: "/api/deleteinsertrolemenu",
                data: JSON.stringify({ userrequest: "deleteinsertrolemenu",  data: result}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function() {
                  $("#loading").modal('show');
                },
                success: function (data) {
                  console.log(data.msg);
                  location.reload();
                },
                error: function (errMsg) {
                  console.log(errMsg);
                },
              });

        })
    });
</script>