<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{locals['Dashboard']}}</a></li>
            <li class="breadcrumb-item"><a href="/viewproducts">{{locals['View Products']}}</a></li>
            <li class="breadcrumb-item active">{{locals['Create Product']}}</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{locals['Create Products of']}} {{locals[category.find_by_catid(catid).nameen]}} {{locals['Category']}}</h5>
                    </center>
                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">{{locals['Product ID']}}</label>
                                <input type="text" class="form-control" id="productid"
                                    placeholder="{{locals['cannot update']}}" name="productid" value="" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5" class="form-label">{{locals['Product Code']}}</label>
                                <input type="text" class="form-control" id="productcode"
                                    placeholder="{{locals['Please fill here']}}" name="productcode" value="">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">{{locals['English Name']}}</label>
                                <input type="text" class="form-control" id="nameen"
                                    placeholder="{{locals['Please fill here']}}" name="nameen" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5" class="form-label">{{locals['Khmer Name']}}</label>
                                <input type="text" class="form-control" id="namekh"
                                    placeholder="{{locals['Please fill here']}}" name="namekh" value="">
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">{{locals['Unit in English']}}</label>
                                <input type="text" class="form-control" id="uniten"
                                    placeholder="{{locals['Please fill here']}}" name="uniten" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5" class="form-label">{{locals['Unit in Khmer']}}</label>
                                <input type="text" class="form-control" id="unitkh"
                                    placeholder="{{locals['Please fill here']}}" name="unitkh" value="">
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <br/>



                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">{{locals['Weight']}}</label>
                                <input type="text" class="form-control" id="weight"
                                    placeholder="Please fill weight" name="weight" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5" class="form-label">{{locals['Category']}}</label>
                                <select id="catid" class="form-select" name="catid">
                                {% for ct in category.query.all() %}

                                {% if category.find_by_countparentid(ct.catid) <= 0 %}
                                
                                {% if ct.catid == catid|int %}
                                    <option selected value="{{ct.catid}}">
                                        {{ct['name' + languages.lower()]}}
                                    </option>
                                {% else %}
                                    <option value="{{ct.catid}}">
                                        {{ct['name' + languages.lower()]}}
                                    </option>
                                {% endif %}

                                {% endif %}    

                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">{{locals['Base Price']}}</label>
                                <input type="text" class="form-control" id="baseprice"
                                    placeholder="{{locals['Please fill here']}}" name="baseprice" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">{{locals['Details']}}</label>
                                <input type="text" class="form-control" id="details"
                                    placeholder="{{locals['Please fill here']}}" name="details" value="">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        
                        <br/>

                        <div>
                            <div style="text-align: Center">
                              <button type="button" class="btn btn-primary" id="save" >
                                {{locals['Add New Product']}}
                              </button>
                              &nbsp;
                              <button type="button" class="btn btn-danger" id="clear">
                                {{locals['Clear']}}
                              </button>
                              &nbsp;
                              <a href="/listproducts/{{catid}}" >
                              <button type="button" class="btn btn-success" id="productlist">
                                {{locals['Products List']}}
                              </button>
                              </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    
    $(document).ready(function(){

        $("#weight").val(0)
        $("#baseprice").val(0)

        $("#save").click(function(){

            productcode = $("#productcode").val()
            nameen = $("#nameen").val()
            namekh = $("#namekh").val()
            unitkh = $("#unitkh").val()
            uniten = $("#uniten").val()
            weight = $("#weight").val()
            catid = $("#catid").val()
            baseprice = $("#baseprice").val()
            details = $("#details").val()

            item = {};
            item['productcode'] = productcode;
            item['nameen'] = nameen;
            item['namekh'] = namekh;
            item['unitkh'] = unitkh;
            item['uniten'] = uniten;
            item['weight'] = weight;
            item['catid'] = catid;
            item['baseprice'] = baseprice;
            item['details'] = details;

            $.ajax({
                type: "POST",
                url: "/api/createproduct",
                data: JSON.stringify({ data: item, userrequest:"createproduct" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function() {    },
                success: function (data){
                    console.log(data);
                    location.reload();
                },
                error: function(data) {
                    console.log(data);
                }

            })
        })

        $("#clear").click(function(){
            $("#productcode").val("")
            $("#nameen").val("")
            $("#namekh").val("")
            $("#unitkh").val("")
            $("#uniten").val("")
            $("#weight").val(0)
            $("#catid").val(1)
            $("#baseprice").val(0)
            $("#details").val("")
            
        })

        // $("#productlist").click(function(){

        // })



    })

</script>