<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/viewproducts">View Products</a></li>
            <li class="breadcrumb-item active">Create Product</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Create Products of {{category.find_by_catid(catid).nameen}} Category</h5>
                    </center>
                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">Product ID</label>
                                <input type="text" class="form-control" id="productid"
                                    placeholder="Product ID is auto increment" name="productid" value="" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5" class="form-label">Product Code</label>
                                <input type="text" class="form-control" id="productcode"
                                    placeholder="Please fill product code" name="productcode" value="">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">Englis Name</label>
                                <input type="text" class="form-control" id="nameen"
                                    placeholder="Please fill english name" name="nameen" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5" class="form-label">Khmer Name</label>
                                <input type="text" class="form-control" id="namekh"
                                    placeholder="Please fill khmer name" name="namekh" value="">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label for="inputEmail5" class="form-label">Weight</label>
                                <input type="text" class="form-control" id="weight"
                                    placeholder="Please fill weight" name="weight" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5" class="form-label">Category</label>
                                <select id="catid" class="form-select" name="catid">
                                {% for ct in category.query.all() %}
                                {% if ct.catid == catid|int %}
                                    <option selected value="{{ct.catid}}">{{ct.nameen}}</option>
                                {% else %}
                                    <option value="{{ct.catid}}">{{ct.nameen}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <label for="inputEmail5" class="form-label">Details</label>
                                <input type="text" class="form-control" id="details"
                                    placeholder="Please fill details" name="details" value="">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        
                        <br/>

                        <div>
                            <div style="text-align: Center">
                              <button type="button" class="btn btn-primary" id="save" >
                                Add New Product
                              </button>
                              &nbsp;
                              <button type="button" class="btn btn-danger" id="clear">
                                Clear
                              </button>
                              &nbsp;
                              <a href="/listproducts/{{catid}}" >
                              <button type="button" class="btn btn-success" id="productlist">
                                Product List
                              </button>
                              </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    
    $(document).ready(function(){

        $("#weight").val(0)

        $("#save").click(function(){

            productcode = $("#productcode").val()
            nameen = $("#nameen").val()
            namekh = $("#namekh").val()
            weight = $("#weight").val()
            catid = $("#catid").val()
            details = $("#details").val()

            item = {};
            item['productcode'] = productcode;
            item['nameen'] = nameen;
            item['namekh'] = namekh;
            item['weight'] = weight;
            item['catid'] = catid;
            item['details'] = details;

            $.ajax({
                type: "POST",
                url: "/api/createproduct",
                data: JSON.stringify({ data: item, userrequest:"createproduct" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function() {    },
                success: function (data){
                    console.log(data);
                    location.reload();
                },
                error: function(data) {
                    console.log(data);
                }

            })
        })

        $("#clear").click(function(){
            $("#productcode").val("")
            $("#nameen").val("")
            $("#namekh").val("")
            $("#weight").val(0)
            $("#catid").val(1)
            $("#details").val("")
            
        })

        // $("#productlist").click(function(){

        // })



    })

</script>