<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">{{locals['Dashboard']}}</a></li>
      <li class="breadcrumb-item">{{locals['User Setting']}}</li>
      <li class="breadcrumb-item active">{{locals['User Profile']}}</li>
    </ol>
  </nav>
</div>

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="static/assets/img/nbclogo.png"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{locals['Username']}} : {{user.username}}</h2>
          <h3>{{locals['Role']}} : {{locals[role.rolename]}}</h3>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
                aria-selected="true"
                role="tab"
              >
                {{locals['Overview']}}
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
                aria-selected="false"
                tabindex="-1"
                role="tab"
              >
              {{locals['Edit Profile']}}
              </button>
            </li>

            <!-- <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
                aria-selected="false"
                tabindex="-1"
                role="tab"
              >
                Localization
              </button>
            </li> -->

          </ul>
          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
              role="tabpanel"
            >

              <h5 class="card-title">{{locals['Profile Details']}}</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">{{locals['Full Name']}}</div>
                <div class="col-lg-9 col-md-8">{{user.username}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">{{locals['Gender']}}</div>
                <div class="col-lg-9 col-md-8">
                  {{locals[user.gender]}}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">{{locals['BranchCode']}}</div>
                <div class="col-lg-9 col-md-8">
                  {% if languages == "EN"%}
                  {{branch.find_by_branchcode(user.branchcode).nameen}}
                  {% else %}
                  {{branch.find_by_branchcode(user.branchcode).namekh}}
                  {% endif %}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">{{locals['Department']}}</div>
                <div class="col-lg-9 col-md-8">{{user.details}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">{{locals['Position']}}</div>
                <div class="col-lg-9 col-md-8">{{user.position}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">{{locals['Email']}}</div>
                <div class="col-lg-9 col-md-8">{{user.email}}</div>
              </div>

            </div>

            <div
              class="tab-pane fade profile-edit pt-3"
              id="profile-edit"
              role="tabpanel"
            >
              <!-- Profile Edit Form -->
              <div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >{{locals['Full Name']}}</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="fullName"
                      type="text"
                      class="form-control"
                      id="fullname"
                      value="{{user.username}}"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="company" class="col-md-4 col-lg-3 col-form-label"
                    >{{locals['Gender']}}</label
                  >
                  <div class="col-md-8 col-lg-9">
                  <select class="form-select" aria-label="Default select example" id="gender">
                    {% if user.gender == "Female" %}
                    <option value="Female" selected>{{locals['Female']}}</option>  
                    <option value="Male">{{locals['Male']}}</option>  
                    {% else %}
                    <option value="Female">{{locals['Female']}}</option>  
                    <option value="Male" selected>{{locals['Male']}}</option>  
                    {% endif %}

                  </select>
                </div>
                  
                </div>

                <div class="row mb-3">
                  <label for="Job" class="col-md-4 col-lg-3 col-form-label"
                    >{{locals['BranchCode']}}</label
                  >
                  <div class="col-md-8 col-lg-9">

                    <select class="form-select" aria-label="Default select example" id="branchcode" disabled>

                      {% for br in branch.getallbranches() %}
                      {% if user.branchcode == br.branchcode %}

                      {% if languages == "EN"%}
                      <option value="{{br.branchcode}}" selected>{{br.nameen}}</option>
                      {% else %}
                      <option value="{{br.branchcode}}" selected>{{br.namekh}}</option>
                      {% endif %}  

                      
                      {% else %}

                      {% if languages == "EN"%}
                      <option value="{{br.branchcode}}">{{br.nameen}}</option>
                      {% else %}
                      <option value="{{br.branchcode}}">{{br.namekh}}</option>
                      {% endif %}  

                      
                      {% endif %}
                      
                      {% endfor %}
                    
                    </select>

                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Country" class="col-md-4 col-lg-3 col-form-label"
                    >{{locals['Department']}}</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="country"
                      type="text"
                      class="form-control"
                      id="department"
                      value="{{user.details}}"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Country" class="col-md-4 col-lg-3 col-form-label"
                    >{{locals['Position']}}</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="country"
                      type="text"
                      class="form-control"
                      id="position"
                      value="{{user.position}}"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label"
                    >{{locals['Email']}}</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="address"
                      type="text"
                      class="form-control"
                      id="email"
                      value="{{user.email}}"
                    />
                  </div>
                </div>


                {% set langen = '' %}
                {% set langkh = '' %}
                {% if languages == 'EN' %}
                {% set langen = 'selected' %}
                {% elif languages == 'KH' %}
                {% set langkh = 'selected' %}
                {% endif %}
                <div class="row mb-3">
                  <label for="Job" class="col-md-4 col-lg-3 col-form-label"
                    >{{locals['Languages']}}</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <select class="form-select" aria-label="Default select example" id="languages">
                      <option value="EN" {{langen}} >{{locals['English']}}</option>
                      <option value="KH" {{langkh}} >{{locals['Khmer']}}</option>
                    </select>
                  </div>
                </div>


                <div class="text-center">
                  <button class="btn btn-primary" id="saveprofile">
                    Save Changes
                  </button>
                </div>
              </div>
              <!-- End Profile Edit Form -->
            </div>

            <!-- <div
              class="tab-pane fade pt-3"
              id="profile-settings"
              role="tabpanel"
            > -->
              <!-- Settings Form -->
              
                <!-- <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Changes Languages</label
                  >
                  <div class="col-md-8 col-lg-9">

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="language"
                        id="langen" 
                        
                      />
                      <label class="form-check-label" for="english">
                        Englist
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="khmer"
                        name="langkh" 
                        
                    />
                      <label class="form-check-label" for="khmer">
                        Khmer
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn btn-primary" id="savelanguage">
                    Save Changes
                  </button>
                </div> -->
              
              <!-- End settings Form -->
            <!-- </div> -->

         
              
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    
    $("#saveprofile").click(function() {
      fullname = $("#fullname").val();
      gender = $("#gender").val();
      branchcode = $("#branchcode").val();
      department = $("#department").val();
      position = $("#position").val();
      email = $("#email").val();
      languages = $("#languages").val();

          item = {};
          item['fullname'] = fullname;
          item['gender'] = gender;
          item['branchcode'] = branchcode
          item['department'] = department;
          item['position'] = position;
          item['email'] = email;
          item['languages'] = languages;
      
      $.ajax({
          type: "POST",
          url: "/api/updateuserprofile",
          data: JSON.stringify({ data: item, userrequest: 'updateuserprofile' }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function (data) {
            location.reload();
          },
          error: function (errMsg) {
            console.log(errMsg);
          }
        });


    });

  });
</script>