<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/viewusers">Users List</a></li>
      <li class="breadcrumb-item active">Create Users</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <center>
            <h5 class="card-title">User Management</h5>
          </center>
          <br />

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">User ID</label>
              <input type="text" class="form-control" id="user_id" placeholder="Please fill UserID"
                name="user_id" value="">
            </div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="username" placeholder="Please fill Full Name" name="usernmae"
                value="">
            </div>
            <div class="col-md-2"></div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">Gender</label>
              <select id="gender" class="form-select" name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">Role</label>
              <select id="roleid" class="form-select" name="roleid">
                {% for role in tb_roles.query.all() %}
                
                    <option value="{{role.roleid}}">{{role.rolename}}</option>
              
                {% endfor %}
            </select>
              
            </div>
            <div class="col-md-2"></div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">Branch Code</label>
              <select id="branchcode" class="form-select" name="branchcode">
                {% for branch in tb_branches.query.all() %}
                
                    <option value="{{branch.branchcode}}">{{branch.branchcode}} - {{branch.nameen}}</option>
              
                {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">Department</label>
              <input type="text" class="form-control" id="department" placeholder="Please fill Department" name="department"
                value="">
            </div>
            <div class="col-md-2"></div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label for="inputEmail5" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Please fill Email"
                name="email" value="">
            </div>
            <div class="col-md-2"></div>
          </div>
                   
          <br/>
          <div>
            <div style="text-align: Center">
              <button type="button" class="btn btn-primary" id="save">
                Add New User
              </button>
              &nbsp;
              <button type="button" class="btn btn-danger" id="clear">
                Clear
              </button>
              &nbsp;
              <button type="button" class="btn btn-success" id="userlist">
                User List
              </button>
            </div>
        </div>
        <br/>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-primary" role="alert">
                User Default Password is "cpi"
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  $(document).ready(function () {

    $("#userlist").click(function () {
      window.location = "/viewusers";
    })

    $("#save").click(function () {

      userid = $("#user_id").val();
      username = $("#username").val();
      roleid = $("#roleid").val();
      gender = $("#gender").val();
      branchcode = $("#branchcode").val();
      department = $("#department").val();
      email = $("#email").val();


      item = {};
      item['userid'] = userid;
      item['username'] = username;
      item['roleid'] = roleid;
      item['gender'] = gender;
      item['branchcode'] = branchcode;
      item['department'] = department;
      item['email'] = email;

      if( userid == ''){
        $("#useridnull").modal('show');
        return;
      }


      $.ajax({
        type: "POST",
        url: "/api/updateuserprofile",
        data: JSON.stringify({ data: item, userrequest: "createuser" }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        beforeSend: function () { },
        success: function (data) {
          if(data.msg == "UserID already exist"){
            $("#userexist").modal('show');
          }else{  
            location.reload();
          }
        },
        error: function (data) {
          console.log(data);
        }

      })
    })


    $("#clear").click(function () {
      $("#user_id").val("");
      $("#username").val("");
      $("#roleid").val(1);
      $("#gender").val("Female");
      $("#branchcode").val("001");
      $("#department").val("");
      $("#email").val("");
    })
  })

</script>