<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">{{locals['Dashboard']}}</a></li>
      <li class="breadcrumb-item"><a href="/viewusers">{{locals['Users List']}}</a></li>
      <li class="breadcrumb-item active">{{locals['Create Users']}}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <center>
            <h5 class="card-title">{{locals['User Management']}}</h5>
          </center>
          <br />
          {% for user in user %}

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">{{locals['User ID']}}</label>
              <input type="text" class="form-control" id="user_id" placeholder="Please fill UserID" disabled="disabled"
                name="user_id" value="{{user[0].userid}}">
            </div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">{{locals['Full Name']}}</label>
              <input type="text" class="form-control" id="username" placeholder="Please fill Full Name" name="usernmae"
                value="{{user[0].username}}">
            </div>
            <div class="col-md-2"></div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">{{locals['Gender']}}</label>
              <select id="gender" class="form-select" name="gender">
                {% if user[0].gender == "Female" %}  
                  <option value="Female" selected>{{locals['Female']}}</option>
                  <option value="Male">{{locals['Male']}}</option>
                {% else %}
                  <option value="Female">{{locals['Female']}}</option>
                  <option value="Male" selected>{{locals['Male']}}</option>
                {% endif %}
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">{{locals['Role']}}</label>
              <select id="roleid" class="form-select" name="roleid">

                {% for role in tb_roles.query.all() %}

                    {% if user[1].roleid == role.roleid %}
                      <option value="{{role.roleid}}" selected>{{locals[role.rolename]}}</option>
                    {% else %}
                      <option value="{{role.roleid}}">{{locals[role.rolename]}}</option>
                    {% endif %}
                    
              
                {% endfor %}
            </select>
              
            </div>
            <div class="col-md-2"></div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">{{locals['BranchCode']}}</label>
              <select id="branchcode" class="form-select" name="branchcode">
                {% for branch in tb_branches.query.all() %}
                
                  {% if user[2].branchcode == branch.branchcode %}
                    <option value="{{branch.branchcode}}" selected>{{branch.branchcode}} - {{branch['name' + languages.lower()]}}
                    </option>
                  {% else %}
                    <option value="{{branch.branchcode}}">{{branch.branchcode}} - {{branch['name' + languages.lower()]}}
                    </option>
                  {% endif %}
              
                {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">{{locals['Department']}}</label>
              <input type="text" class="form-control" id="department" placeholder="Please fill Department" name="department"
                value="{% if user[0].details %}{{user[0].details}}{% endif %}">
            </div>
            <div class="col-md-2"></div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">{{locals['Position']}}</label>
              <input type="text" class="form-control" id="position" placeholder="Please fill Position" name="position"
                value="{% if user[0].position %}{{user[0].position}}{% endif %}">
            </div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">{{locals['Email']}}</label>
              <input type="text" class="form-control" id="email" placeholder="Please fill Email"
                name="email" value="{% if user[0].email %}{{user[0].email}}{% endif %}">
            </div>
            <div class="col-md-2"></div>
          </div>
                
          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="inputPassword5" class="form-label">{{locals['PhoneNumber']}}</label>
              <input type="text" class="form-control" id="phonenumber" placeholder="Please fill Position" name="phonenumber"
                value="{% if user[0].phonenumber %}{{user[0].phonenumber}}{% endif %}">
            </div>
            <div class="col-md-4">
              <label for="inputEmail5" class="form-label">{{locals['Telegram']}}</label>
              <input type="text" class="form-control" id="telegram" placeholder="Please fill Email"
                name="telegram" value="{% if user[0].telegram %}{{user[0].telegram}}{% endif %}">
            </div>
            <div class="col-md-2"></div>
          </div>

          <br/>
          <div>
            <div style="text-align: Center">
              <button type="button" class="btn btn-primary" id="update">
                {{locals['Update User']}}
              </button>
              &nbsp;
              <button type="button" class="btn btn-success" id="back">
                {{locals['Users List']}}
              </button>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>



    </div>
  </div>
</section>

<script>

  $(document).ready(function () {

    $("#update").click(function () {

      userid = $("#user_id").val();
      username = $("#username").val();
      roleid = $("#roleid").val();
      gender = $("#gender").val();
      branchcode = $("#branchcode").val();
      department = $("#department").val();
      position = $("#position").val();
      email = $("#email").val();
      phonenumber = $("#phonenumber").val();
      telegram = $("#telegram").val();

      item = {};
      item['userid'] = userid;
      item['username'] = username;
      item['roleid'] = roleid;
      item['gender'] = gender;
      item['branchcode'] = branchcode;
      item['department'] = department;
      item['position'] = position;
      item['email'] = email;
      item['phonenumber'] = phonenumber;
      item['telegram'] = telegram;

      $.ajax({
        type: "POST",
        url: "/api/updateuserprofile",
        data: JSON.stringify({ data: item, userrequest: "updateuser" }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        beforeSend: function () { },
        success: function (data) {
          location.reload();
        },
        error: function (data) {
          console.log(data);
        }

      })
    })


    $("#back").click(function () {
      window.location = "/viewusers";
    })
  })

</script>