<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">{{locals['Dashboard']}}</a></li>
          <li class="breadcrumb-item active">{{locals['User Management']}}</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{locals['User Management']}}</h5>
                    </center>

                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{locals['User ID']}}</th>
                            <th scope="col">{{locals['Full Name']}}</th>
                            <th scope="col">{{locals['Branch Name']}}</th>
                            <th scope="col">{{locals['Role']}}</th>
                            <th scope="col">{{locals['Department']}}</th>
                            <th scope="col">{{locals['Email']}}</th>
                            <th scope="col">{{locals['PhoneNumber']}}</th>
                            <th scope="col">{{locals['Telegram']}}</th>
                            <th scope="col">{{locals['Action']}}</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for user in user %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td class="user_id">{{ user[0].userid }}</td>
                                <td>{{ user[0].username }}</td>
                                <td>
                                    {{user[2]['name' + languages.lower()]}}
                                </td>
                                <td>{{ locals[user[1].rolename] }}</td>
                                <td>
                                    {% if user[0].details %}
                                    {{ user[0].details }}
                                    {% endif %}
                                </td>
                                <td>{% if user[0].email %}
                                    {{ user[0].email }}
                                    {% endif %}
                                </td>
                                <td>{% if user[0].phonenumber %}
                                    {{ user[0].phonenumber }}
                                    {% endif %}</td>
                                <td>{% if user[0].telegram %}
                                    {{ user[0].telegram }}
                                    {% endif %}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm update" data-toggle="tooltip" data-placement="top" title="{{locals['Update User']}}">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-sm delete"  data-toggle="tooltip" data-placement="top" title="{{locals['Delete User']}}">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-primary btn-sm reset" data-toggle="tooltip" data-placement="top" title="{{locals['Reset Password']}}">
                                        <i class="bx bx-reset"></i>
                                    </button>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      <div>
                        <div style="text-align: Center">
                          <button type="button" class="btn btn-primary" id="add">
                            {{locals['Add New User']}}
                          </button>
                          &nbsp;
                          <button type="button" class="btn btn-success" id="refresh">
                            {{locals['Refresh']}}
                          </button>
                          &nbsp;
                            <button type="button" class="btn btn-warning" id="deleteusers">
                                {{locals['User Deleted']}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        $("#add").click(function(e) {
            window.location = "/createusers"
        })
        
        $("#deleteusers").click(function(e) {
            window.location = "/viewdeleteusers";
        })

        $("#refresh").click(function(e) {
            location.reload();
        })

        $(".reset").click(function(e) {
            userid = $(this).parent().parent().find(".user_id").text()

            item = {};
            item['userid'] = userid;

            $.ajax({
                type: "POST",
                url: "/api/updateuserprofile",
                data: JSON.stringify({ data: item, userrequest: "resetpassword" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    console.log(data);
                }

            })
        })
        $(".update").click(function(e) {
            userid = $(this).parent().parent().find(".user_id").text()
            window.location = "/updateusers/"+userid
        })
        $(".delete").click(function(e) {
            
            userid = $(this).parent().parent().find(".user_id").text()

            item = {};
            item['userid'] = userid;

            $.ajax({
                type: "POST",
                url: "/api/updateuserprofile",
                data: JSON.stringify({ data: item, userrequest: "deleteuser" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    console.log(data);
                }

            })

        })
        
    })
</script>