<div class="pagetitle">
  <input type="hidden" value="{{ branchcode }}" id="branchcode" name="branchcode" />
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/checkedtrans">Checked Transactions</a></li>
        <li class="breadcrumb-item active">Checked Transactions Details</li>
      </ol>
    </nav>
  </div>
  
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Checked Transactions Details</h5>
                    </center>
                    <br />

                    <div id="accordion">
                        
                        {% for cl in catlist %}
                        
                        {% set textcolor = "color: red;" %}
                        {% if trans.find_by_catbatchidachecked(cl[0],batch.batchid)|length > 0 %}
                        {% set textcolor = "color: green;" %}
                        {% elif trans.find_by_catbatchidauthorize(cl[0],batch.batchid)|length > 0 %}
                        {% set textcolor = "color: blue;" %}
                        {% endif %}

                        {% set disabled = "" %}
                        {% if trans.find_by_catbatchidrejectchecker(cl[0],batch.batchid)|length > 0 %}
                        {% set disabled = "disabled" %}
                        {% endif %}

                        
                        <div class="card">
                            <div class="card-header" id="heading{{loop.index}}" style="text-align: left; cursor: pointer; font-weight:bold;">
                                <div class="collapsed" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                                    <div style="float: left;" class="text-{{cl[5]}}">{{loop.index}}.&nbsp;{{cl[1]}}</div>
                                    
                                </div>
                                <div style="float: right;"><span class="badge bg-{{cl[5]}}">{{cl[4]}}</span></div>
                            </div>

                            <div id="collapse{{loop.index}}" class="collapse1 show" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
                                <div class="card-body">
                                    
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Weight</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Inputter Noted</th>
                                            <th scope="col">Authorizer Noted</th>
                                            <th scope="col">Checker Noted</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for prod in products.find_by_catid(cl[0]) %}
                                            <tr  data-toggle="tooltip" title="{{trans.find_by_submitterbatchidprodid(batch.createby,batch.batchid,prod.prodid).checkernote}}">
                                              <td scope="row">{{loop.index}}</td>
                                              <td>{{prod.namekh}}<input type="hidden" name="prodid{{prod.prodid}}" value="{{prod.prodid}}"/> </td>
                                              <td>{{trans.find_by_submitterbatchidprodid(batch.createby,batch.batchid,prod.prodid).weight}}</td>
                                              <td>{{trans.find_by_submitterbatchidprodid(batch.createby,batch.batchid,prod.prodid).price}}</td>
                                              <td>{{trans.find_by_submitterbatchidprodid(batch.createby,batch.batchid,prod.prodid).submitternote}}</td>
                                              <td>
                                                {% if textcolor == "color: green;" %}
                                                <input type="text" class="form-control" name="authorizernote{{prod.prodid}}"
                                                value="{{trans.find_by_submitterbatchidprodid(batch.createby,batch.batchid,prod.prodid).authorizernote}}" />
                                                {% else %}
                                                {{trans.find_by_submitterbatchidprodid(batch.createby,batch.batchid,prod.prodid).authorizernote}}
                                                {% endif %}
                                            </td>
                                            <td> 
                                                {% if textcolor == "color: green;" or textcolor == "color: blue;" %}
                                                <input type="text" class="form-control" value="{{trans.find_by_submitterbatchidprodid(batch.createby,batch.batchid,prod.prodid).checkernote}}" id="checkernoted" name="checkernoted" /></th>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                            {% if textcolor == "color: green;" or textcolor == "color: blue;" %}
                                            <tr>
                                                <td colspan="7">
                                                    <div style="text-align: Center">
                                                      <button type="button" class="btn btn-danger aureject" {{disabled}}>
                                                        Rejected
                                                      </button>&nbsp;&nbsp;&nbsp;
                                                      <button type="button" class="btn btn-success auauthorizer" {{disabled}}>
                                                        Accepted
                                                      </button>&nbsp;&nbsp;&nbsp;
                                                      <button type="button" class="btn btn-primary auclear" {{disabled}}>
                                                        Clear
                                                      </button>
                                                    </div>
                                                   </td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                      </table>

                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .card {
        margin-bottom: 10px;
    }

    

</style>
<script>

    $(document).ready(function () {
        $('.collapse1').collapse();
        
        $('#loading').modal({backdrop: 'static', keyboard: false})

        $('[data-toggle="tooltip"]').tooltip();

        $(".aureject").click(function(){
            
            result = [];

            prodid = []

            $(this).parent().parent().parent().parent().parent().find("input[name^='prodid']").each(function () {

                prodid.push($(this).val());
            });
            
            checkernoted = []
             $(this).parent().parent().parent().parent().parent().find("input[name^='checkernoted']").each(function () {

                checkernoted.push($(this).val());
            });

            for (i = 0; i < prodid.length; i++) {
                item = {};
                item['prodid'] = prodid[i];
                item['checkernoted'] = checkernoted[i];
                result.push(item);

            }
            
            branchcode = $("#branchcode").val();

            $.ajax({
                type: "POST",
                url: "/api/checkerupdatetransactions",
                data: JSON.stringify({ data: result, userrequest: 'reject',branchcode:branchcode }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#loading").modal('show');
                    location.reload();
                },
                error: function (errMsg) {
                console.log(errMsg);
                }
            });

        });



        $(".auauthorizer").click(function(){
            
            result = [];

            prodid = []

            $(this).parent().parent().parent().parent().parent().find("input[name^='prodid']").each(function () {

                prodid.push($(this).val());
            });
            
            checkernoted = []
             $(this).parent().parent().parent().parent().parent().find("input[name^='checkernoted']").each(function () {

                checkernoted.push($(this).val());
            });

            for (i = 0; i < prodid.length; i++) {
                item = {};
                item['prodid'] = prodid[i];
                item['checkernoted'] = checkernoted[i];
                result.push(item);

            }
            
            console.log(result);

            branchcode = $("#branchcode").val();

            $.ajax({
                type: "POST",
                url: "/api/checkerupdatetransactions",
                data: JSON.stringify({ data: result, userrequest: 'accept', branchcode:branchcode }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#loading").modal('show');
                    location.reload();
                },
                error: function (errMsg) {
                console.log(errMsg);
                }
            });

        });

    });


</script>