<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Consumer Price Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/nbclogo.png') }} " rel="icon">
  <link href="{{ url_for('static', filename='assets/img/nbclogo.png') }} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') }} "
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/print.min.css') }}" rel="stylesheet" />
  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.6.4.min.js') }}"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/nbclogo.png') }}" alt="">
        <span class="d-none d-lg-block" style="font-size: 16px;">Consumer Price Index</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="/">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ url_for('static', filename='assets/img/profile-img.jpg') }}" alt="Profile"
              class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{session.get('username')}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>BranchCode : {{session.get('branchcode')}}</h6>
              <span>Department : {{session.get('details')}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/userprofile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/changepassword">
                <i class="bi bi-gear"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Log Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <!-- menu -->

      <!-- parent without children  -->

      {% for menu in menus %}
      <li class="nav-item">

        {% if menuchilds.find_by_menuchild(menu[0].roleid,menu[1].menuid)|length > 0 %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#{{menu[1].details}}" data-bs-toggle="collapse" href="#">
          <i class="bx {{ menu[1].menukh }}"></i><span>{{ menu[1].menu }}</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="{{menu[1].details}}" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          {% for child in menuchilds.find_by_menuchild(menu[0].roleid,menu[1].menuid) %}
          <li>
            <a href="{{child[1].functions}}">
              </i><span>{{ child[1].menu }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{menu[1].functions}}">
          <i class="bx {{menu[1].menukh}}"></i>
          <span>{{ menu[1].menu }}</span>
        </a>
      </li>
      {% endif %}

      </li>
      {% endfor %}
      <!-- parent with children  -->
      <!-- end menu -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <!-- dashboard -->
    {% if task == 'dashboard' %}
    {% include 'dashboard.html' %}
    <!-- user settings -->
    {% elif task == 'userprofile' %}
    {% include 'usersetting/userprofile.html' %}
    {% elif task == 'changepassword' %}
    {% include 'usersetting/changepassword.html' %}
    <!-- food -->
    {% elif task == 'rice' %}
    {% include 'food/rice.html' %}
    {% elif task == 'ingredient' %}
    {% include 'food/ingredient.html' %}
    {% elif task == 'meat' %}
    {% include 'food/meat.html' %}
    {% elif task == 'fishandseafood' %}
    {% include 'food/fishandseafood.html' %}
    {% elif task == 'fruit' %}
    {% include 'food/fruit.html' %}
    {% elif task == 'vegetable' %}
    {% include 'food/vegetable.html' %}
    <!-- # beveragetobacco -->
    {% elif task == 'beveragetobacco' %}
    {% include 'beverageandtobacco.html' %}
    <!-- # restaurant -->
    {% elif task == 'restaurant' %}
    {% include 'restaurant.html' %}
    <!-- # clothes and shoes -->
    {% elif task == 'clothshoes' %}
    {% include 'clothandshoe.html' %}
    <!-- # shipping -->
    {% elif task == 'shipping' %}
    {% include 'shipping.html' %}
    <!-- # medecine -->
    {% elif task == 'medicine' %}
    {% include 'medicine.html' %}
    <!-- # housing -->
    {% elif task == 'housing' %}
    {% include 'housing.html' %}
  
    <!-- submitted trans -->
    {% elif task == 'submittedtrans' %}
    {% include 'submittedtrans.html' %}
    <!-- history of trans -->
    {% elif task == 'historyoftrans' %}
    {% include 'historyoftrans.html' %}
    <!-- end if -->
    {% endif%}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>National Bank of Cambodia</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Consumer Price Index System
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->


  <!-- Template Main JS File -->

  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/print.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

  


</body>

</html>