<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{locals['Dashboard']}}</a></li>
            <li class="breadcrumb-item active">{{locals['Submitted Transactions']}}</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{locals['Submitted Transactions Management']}}</h5>
                    </center>
                    <br />
                    {% if batch != None %}
                    <div id="accordion">
                        
                        {% for cl in catlist %}
            
                        <div class="card">
                            <div class="row">
                                <div class="card-header" id="heading{{loop.index}}" style="text-align: left; cursor: pointer; font-weight:bold;">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                                        <div style="float: left;" class="text-{{cl[5]}}">
                                            &nbsp;&nbsp;
                                            {% if cl['parent' + languages.lower()] == None %}
                                            {{cl['name' + languages.lower()]}}
                                            {% else %}
                                            {{cl['parent' + languages.lower()]}} {{cl['name' + languages.lower()]}}
                                            {% endif %}
                                            
                                        
                                        </div>
                                        
                                    </div>
                                    <div style="float: right;"><a href="{{cl[7]}}" id="statuslink"><span class="badge bg-{{cl[5]}}">{{locals[cl[4]]}}</span></a></div>
                                    <!-- <div style="text-align: right;"><span class="badge bg-primary">Primary</span></div> -->
                                </div>
                                
                            </div>

                            <div id="collapse{{loop.index}}" class="collapse1 show" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
                                <div class="card-body">
                                    
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{locals['ProductName']}}</th>
                                            <th scope="col">{{locals['Weight']}}</th>
                                            <th scope="col">{{locals['Unit']}}</th>
                                            <th scope="col">{{locals['Price']}}</th>
                                            <th scope="col">{{locals['InputterNoted']}}</th>
                                            <th scope="col">{{locals['AuthorizerNoted']}}</th>
                                          </tr>
                                        </thead>
                                        <tbody>

                                            {% for prod in products.find_by_catid(cl[0]) %}
                                            <tr>
                                              <td scope="row">{{loop.index}}</td>
                                              <td>{{prod['name' + languages.lower() ]}}</td>
                                              <td>{{prod.weight}}</td>
                                              <td>{{prod['unit' + languages.lower() ]}}</td>
                                              <td>{{trans.find_by_submitterbatchidprodid(batch.batchid,prod.prodid).price}}</td>
                                              <td>
                                                {% if trans.find_by_submitterbatchidprodid(batch.batchid,prod.prodid).submitternote %}
                                                {{trans.find_by_submitterbatchidprodid(batch.batchid,prod.prodid).submitternote}}
                                                {% endif %}
                                                </td>
                                              <td>
                                                {% if trans.find_by_submitterbatchidprodid(batch.batchid,prod.prodid).authorizernote %}
                                                {{trans.find_by_submitterbatchidprodid(batch.batchid,prod.prodid).authorizernote}}
                                                {% endif %}
                                              </td>
                                            </tr>
                                            {% endfor %}
  
                                        </tbody>
                                      </table>

                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .card {
        margin-bottom: 10px;
    }
</style>
<script>

    $(document).ready(function () {
        $('.collapse1').collapse();
        $('[data-toggle="tooltip"]').tooltip();
    });


</script>