<div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item">Food</li>
        <li class="breadcrumb-item active">Vegetables</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <center>
              <h5 class="card-title">Vegetables Details</h5>
            </center>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Weight</th>
                  <th scope="col">Price</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                {% for prod in productlist %}
                <tr>
                  <td>{{loop.index }} <input type="hidden" name="prodid{{prod.prodid}}" value="{{prod.prodid}}" /> </td>
                  <td>{{prod.namekh}}</td>
                  <td><input type="text" class="form-control" name="weight{{prod.prodid}}" disabled
                    value="{{prod.weight}}" />
                  </td>
                  <td>
                    <input type="text" class="form-control" name="price{{prod.prodid}}" value ="{{tbtrans.find_by_batchidprodid(batch.batchid,prod.prodid).price}}" />
                  </td>
                  <td>
                    <input type="text" class="form-control" name="note{{prod.prodid}}" value = "{{tbtrans.find_by_batchidprodid(batch.batchid,prod.prodid).submitternote}}" />
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if isbutton == True %}
          <div>
            <div style="text-align: Center">
              <button type="button" class="btn btn-primary" id="save" {{disabled}}>
                Save
              </button>&nbsp;
              <button type="button" class="btn btn-success" id="submit" {{disabled}}>
                Submit
              </button>&nbsp;
              <button type="button" class="btn btn-danger" id="clear" {{disabled}}>
                Clear
              </button>
            </div>
            <br />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function () {
      $("#submit").click(function () {

        result = [];
  
        prodid = []
        $("input[name^='prodid']").each(function () {
          prodid.push($(this).val());
        });
  
        weight = []
        weight_condition = true;
        $("input[name^='weight']").each(function () {
          if ($(this).val() == '') {
            $("#emptymessage").modal('show');
            weight_condition = false;
            return false;
          }
          weight.push($(this).val());
        });
  
        if (weight_condition == false) {
          return 0;
        }
  
        price = []
        price_condition = true;
        $("input[name^='price']").each(function () {
          if ($(this).val() == '' || $(this).val() == '0' || $(this).val() == '0.00') {
            $("#emptymessage").modal('show');
            price_condition = false;
            return false;
          }
          price.push($(this).val());
        });
        if (price_condition == false) {
          return 0;
        }
  
  
        note = []
        $("input[name^='note']").each(function () {
          note.push($(this).val());
        });
  
        for (i = 0; i < price.length; i++) {
          item = {};
          item['prodid'] = prodid[i];
          item['weight'] = weight[i];
          item['price'] = price[i];
          item['note'] = note[i];
          result.push(item);
  
        }
  
              $.ajax({
                type: "POST",
                url: "/api/insertallproducttotrans",
                data: JSON.stringify({ userrequest: "inserttranns", msg:"submitted", data: result}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function() {
                  $("#loading").modal('show');
                },
                success: function (data) {
                  console.log(data.msg);
                  location.reload();
                },
                error: function (errMsg) {
                  console.log(errMsg);
                },
              });      

      });
  
  
      $("#clear").click(function () {
        
        $("input[name^='price']").each(function () {
          $(this).val("");
        });
        $("input[name^='note']").each(function () {
          $(this).val("");
        });
      });
  
      $("#save").click(function () {
        result = [];
  
        prodid = []
        $("input[name^='prodid']").each(function () {
          prodid.push($(this).val());
        });
  
        weight = []
        weight_condition = true;
        $("input[name^='weight']").each(function () {
          if ($(this).val() == '') {
            $("#emptymessage").modal('show');
            weight_condition = false;
            return false;
          }
          weight.push($(this).val());
        });
  
        if (weight_condition == false) {
          return 0;
        }
  
        price = []
        price_condition = true;
        $("input[name^='price']").each(function () {
          if ($(this).val() == '' || $(this).val() == '0' || $(this).val() == '0.00') {
            $("#emptymessage").modal('show');
            price_condition = false;
            return false;
          }
          price.push($(this).val());
        });
        if (price_condition == false) {
          return 0;
        }
  
  
        note = []
        $("input[name^='note']").each(function () {
          note.push($(this).val());
        });
  
        for (i = 0; i < price.length; i++) {
          item = {};
          item['prodid'] = prodid[i];
          item['weight'] = weight[i];
          item['price'] = price[i];
          item['note'] = note[i];
          result.push(item);
  
        }
  
              $.ajax({
                type: "POST",
                url: "/api/insertallproducttotrans",
                data: JSON.stringify({ userrequest: "inserttranns", msg:"saved", data: result}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function() {
                  $("#loading").modal('show');
                },
                success: function (data) {
                  console.log(data.msg);
                  location.reload();
                },
                error: function (errMsg) {
                  console.log(errMsg);
                },
              });      

      });
  
    });
  </script>